 /*VARIABLES*/
 $colornav:rgba(255,255,255,0.767);
 $fontlight:Metropolis light;
 $fontregular:Metropolis regular;
 $fontbold:Metropolis b;
 $fontcolor:#525252;
 $fontcolor2:rgb(254,107,0);
 $color2:rgb(255,255,255);
 $titlesize:3.5rem;